

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: rgb(12, 12, 12);    
}


:root {
    --orangedark: #FC6057; 
    --orangemedium: #FD825C; 
    --orangelight: #FDA061; 
    --greendark: #01A787; 
    --greenmedium: #1BC1A1; 
    --greenlight: #34DABA; 
  }
.container1{
    display: grid;
    grid-template:auto auto / auto auto auto;
    height: 100vh;
    grid-gap: 10px;

    padding: 10px;
}
.c1div1 {background-color:var(--orangedark) ; }
.c1div2 {background-color:var(--orangemedium) ; }
.c1div3 {background-color:var(--orangelight) ; }
.c1div4 {background-color:var(--greendark) ; }
.c1div5 {background-color:var(--greenmedium) ; }
.c1div6 {background-color:var(--greenlight) ;}
.container2{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "div1 div1 div2"
                        " div3 div4 div2"
                         ;
    height: 100vh;
    grid-gap: 10px;

    padding: 10px;
}

.c2div1{grid-area: div1; background-color:var(--orangedark) ;}
.c2div2{grid-area: div2; background-color:var(--orangelight) ;}
.c2div3{grid-area: div3; background-color:var(--greendark) ;}
.c2div4{grid-area: div4; background-color:var(--greenlight) ;}


.container3{
    display: grid;
    grid-template:25% auto 25%/auto auto auto;
    grid-template-areas: "div1 div1 div1"
                        " div2 div3 div3"
                          "div4 div4 div4" ;
    height: 100vh;
    grid-gap: 10px;

    padding: 10px;
}

.c3div2{grid-area: div2; background-color:var(--greendark) ;}
.c3div1{grid-area: div1; background-color:var(--orangelight) ;}
.c3div3{grid-area: div3; background-color:var(--orangedark) ;}
.c3div4{grid-area: div4; background-color:var(--greenmedium) ;}

.container4{
    display: grid;
    grid-template:25% auto 15%/auto auto auto auto auto auto;
    grid-template-areas: "div1 div1 div1 div2 div2 div2"
                        " div3 div3 div4 div4 div4 div4"
                          "div5 div5 div5 div5 div5 div5" ;
    height: 100vh;
    grid-gap: 10px;

    padding: 10px;
}

.c4div1{grid-area: div1; background-color:var(--orangelight) ;}
.c4div2{grid-area: div2; background-color:var(--orangedark) ;}
.c4div3{grid-area: div3; background-color:var(--greendark) ;}
.c4div4{grid-area: div4; background-color:var(--greenlight) ;}
.c4div5{grid-area: div5; background-color:var(--orangelight) ;}


.container5 {
    display: grid;
    grid-template:auto auto auto/ auto auto auto auto auto auto;
    grid-template-areas:
        "div1 div2 div3 div4 div5 div6"
        "div7 div8 div9 div10 div11 div12"
        "div13 div14 div15 div16 div17 div18";
    height: 100vh;
    grid-gap: 10px;

    padding: 10px;
}

.c5div1 { grid-area: div1; background-color:   var(--greendark); }
.c5div2 { grid-area: div2; background-color:   var(--orangemedium); }
.c5div3 { grid-area: div3; background-color:   var(--greenmedium); }
.c5div4 { grid-area: div4; background-color:   var(--orangedark) }
.c5div5 { grid-area: div5; background-color:   var(--greenlight); }
.c5div6 { grid-area: div6; background-color:   var(--orangelight); }
.c5div7 { grid-area: div7; background-color:   var(--orangelight); }
.c5div8 { grid-area: div8; background-color:   var(--greendark) }
.c5div9 { grid-area: div9; background-color:   var(--orangemedium); }
.c5div10 { grid-area: div10; background-color: var(--greenlight); }
.c5div11 { grid-area: div11; background-color: var(--orangelight); }
.c5div12 { grid-area: div12; background-color: var(--orangedark) }
.c5div13 { grid-area: div13; background-color: var(--greendark); }
.c5div14 { grid-area: div14; background-color: var(--orangedark); }
.c5div15 { grid-area: div15; background-color: var(--greenlight); }
.c5div16 { grid-area: div16; background-color: var(--orangemedium) }
.c5div17 { grid-area: div17; background-color: var(--greendark); }
.c5div18 { grid-area: div18; background-color: var(--greenlight); }



.container6 {
    display: grid;
    grid-template-columns: auto auto auto auto;

    grid-template-areas:
        "div1 div1 div2 div3"
        "div4 div5 div6 ."
        "div7 div7 div8 div9"
        "div7 div7 div10 ."
        "div11 div11 div11 div12";
    height: 100vh;
    grid-gap: 10px;

    padding: 10px;
}
.c6div1 { grid-area: div1; background-color: var(--orangedark) ; }
.c6div2 { grid-area: div2; background-color: var(--greendark) ; }
.c6div3 { grid-area: div3; background-color: var(--orangelight)  ; }
.c6div4 { grid-area: div4; background-color: var(--orangemedium) ; }
.c6div5 { grid-area: div5; background-color: var(--greenmedium) ; }
.c6div6 { grid-area: div6; background-color: var(--greendark) ; }
.c6div7 { grid-area: div7; background-color: var(--orangelight) ; }
.c6div8 { grid-area: div8; background-color: var(--greenlight) ; }
.c6div9{ grid-area: div9; background-color:  var(--orangedark) ; }
.c6div10 { grid-area: div10; background-color:var(--greendark) ; }
.c6div11 { grid-area: div11; background-color:var(--greenlight) ; }
.c6div12 { grid-area: div12; background-color:var(--orangelight) ; }


.container7{
    display: grid;
    grid-template:25% auto/auto auto ;
    grid-template-areas: "div1 div2"
                        " div3 div4";
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
}

.c7div1{grid-area: div1; background-color:var(--orangelight) ;}
.c7div2{grid-area: div2; background-color:var(--greenlight) ;}
.c7div3{grid-area: div3; background-color:var(--orangedark) ;}
.c7div4{
    grid-area: div4; 
    background-color: var(--greenmedium);
    display: grid;
    grid-template:auto auto/auto auto ;
    grid-template-areas: "d4div1 d4div1"
                         "d4div2 d4div3";
    grid-gap: 10px;
    padding:10px ;
}
.c7d4div1{grid-area: d4div1; background-color: var(--greenlight);}
.c7d4div2{grid-area: d4div2; background-color: var(--greendark);}
.c7d4div3{grid-area: d4div3; background-color: var(--orangemedium);}




.container8{
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    grid-template-areas:"div1 div2 div3 div4 div5"
                        "div6 div7 div8 div8 div8"
                        "div9 div9 div9 div9 div9" ;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
}
.c8div1{grid-area: div1; background-color:var(--orangedark) ;}
.c8div2{grid-area: div2; background-color:var(--orangelight) ;}
.c8div3{grid-area: div3; background-color:var(--greenlight) ;}
.c8div4{grid-area: div4; background-color:var(--greenmedium) ;}
.c8div5{grid-area: div5; background-color:var(--greendark) ; }
.c8div6{grid-area: div6; background-color:var(--orangelight) ;}
.c8div7{grid-area: div7; background-color:var(--orangedark) ;}
.c8div8{grid-area: div8; background-color:var(--orangemedium) ;}
.c8div9{grid-area: div9; background-color:var(--greenlight) ;}




.container9{
    display: grid;
    grid-template-columns:auto auto auto;
    grid-template-areas:"div1 div1 div1"
                        "div2 div3 div3"
                        "div2 div4 div5" ;
    height: 100vh;
    grid-gap: 10px;
    padding: 10px;
}

.c9div1{grid-area: div1; background-color:var(--orangemedium) ;}
.c9div2{grid-area: div2; background-color:var(--greendark) ;}
.c9div3{grid-area: div3; background-color:var(--greenlight) ;}
.c9div4{grid-area: div4; background-color:var(--orangedark) ;}
.c9div5{grid-area: div5; background-color:var(--orangelight) ; }

































/* 
.container{

display: grid; */
/* justify-content: ;
justify-items: ;
align-items: ;
align-content: ; */
/* grid-template-columns: 1fr (repeat(3, 400px)) 1fr; fr is its unit cotainer=1100px or 1200px */
/* grid-template-rows: repeat(4, 100%); */
/* grid-template-areas: '. navbar navbar navbar .'
'. header1 header1 header2 .'
'. box1 box2 box3 .'
'. footer footer footer .'; */


/* }

.navbar{
    grid-area: navbar;
    background-color: aquamarine;
    padding: 1rem;

}
.header1{
    grid-area: header;
    background-color: blueviolet;
    padding: 1rem;

}
.header2{
    grid-area: header2;
    padding: 1rem;
    background-color: brown;
}
.box1{
    grid-area: box1;
    background-color:green;
    padding: 1rem;
}

.box2{
    grid-area: box2;
    background-color:bisque;
    padding: 1rem;

}
.box3{
    grid-area: box3;
    background-color: black;
}
.footer{
    grid-area: footer;
    background-color: yellow;
    padding: 1rem;
} */

